<body style="background-color:#f7f5f3;">
  <div class="container mt-5">
    <h1 class="display-4">Molécules et organismes</h1>
    <br/><hr><br/>
    <%= link_to 'Navbar' , statics_navbar_path , class:"btn btn-sm btn-primary mr-2" %>
    <%= link_to 'Footer' , statics_footer_path , class:"btn btn-sm btn-primary mr-2" %>
    <%= link_to 'Banner' , statics_banner_path , class:"btn btn-sm btn-primary mr-2" %>
    <%= link_to 'Form' , statics_authentification_form_path , class:"btn btn-sm btn-primary mr-2" %> 
    <%= link_to 'Comment' , statics_comment_path , class:"btn btn-sm btn-primary mr-2" %> 
    <%= link_to 'Card' , statics_card_path , class:"btn btn-sm btn-primary mr-2" %>
  </div>
</body>